{{ define "main" }}
  {{ if not .IsHome }}
    <h1>{{ .Title }}</h1>
  {{ end }}
  {{ .Content }}
  <ul class="post-list">
  {{ range .Pages }}
    <li>
      <article>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="post-meta">{{ .Date.Format "2006-01-02" }}</div>
        {{ if .Params.beschreibung }}
          <p>{{ .Params.beschreibung }}</p>
        {{ else if .Summary }}
          <p>{{ .Summary }}</p>
        {{ end }}
      </article>
    </li>
  {{ end }}
  </ul>
{{ end }}
