{{ define "main" }}
  <h2>Neueste Beiträge</h2>
  <ul class="post-list">
  {{ range first 10 (where .Site.RegularPages "Type" "in" (slice "posts" "post")) }}
    <li>
      <article>
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <div class="post-meta">{{ .Date.Format "2006-01-02" }}</div>
        {{ if .Params.beschreibung }}
          <p>{{ .Params.beschreibung }}</p>
        {{ else if .Summary }}
          <p>{{ .Summary }}</p>
        {{ end }}
      </article>
    </li>
  {{ end }}
  </ul>
{{ end }}
